div.board {
    display : flex;
    width : 500px;
    height : 500px;
    flex-direction: column;
}

div.board div.row {
    display : flex;
    flex-direction: row;
    width : 100%;
    height : 33.33%;    
}

div.board div.row.middle {
    border-top : 1px solid #111;
    border-bottom : 1px solid #111;
}

div.board div.row div.col.middle {
    border-left : 1px solid #111;
    border-right : 1px solid #111;
}


div.board div.row div.col {
    width : 33.33%;
    height : 100%;
}

div.board div.row div.col:not(.empty):hover {
    background : #eee;
}


div#root {
    position: absolute;
    width : 100%;
    height : 100%;
    top : 0;
    left : 0;
    display : flex;
    align-items: center;
    justify-content: center;
    background : #eee;
    font-family: 'Source Code Pro', monospace;
}

div.menu {
    width : 500px;
    height : 500px;
    text-align: center;
    display : flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.menu div.title, div.gameDetails div.title, div.role-select div.title {
    font-size : 2em;
    transition : font-size 200ms;
}

div.menu div.title h1, div.gameDetails div.title h1, div.role-select div.title h1 {
    background : orange;
    color : white;
    padding: 0 5px;
}

div.menu div.options {
    display : flex;
    flex-direction: column;
    width : 75%;
    height : 75%;
}

div.menu div.options div {
    display : flex;
    align-items: center;
    justify-content: center;
    font-size : 2em;
    height : 70px;
    cursor: default;
    transition : background 200ms, font-size 200ms;
}

div.menu div.options div:hover {
    background: #ddd;
    font-size : 2.2em;
}

a {
    text-decoration: inherit;
    color : inherit;
    cursor : default;
}

div#root div.gameDetails {
    display : flex;
    width : 500px;
    height : 500px;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.gameDetails div.options {
    display: flex;
    flex-direction: row;
    width : 75%;
    height : 75%;
    justify-content: space-around;
    cursor: default;
    flex-wrap: wrap;
}
div.gameDetails div.options>div {
    width: 150px;
    height: 150px;
    padding: 5px;
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
    margin : 5px;
    border : 1px solid #aaa;
}

div.gameDetails div.options div div.icon {
    font-size: 3em;
    transition : font-size 200ms;
}

div.gameDetails div.options div div.label {
    transition : font-size 200ms;
}

div.gameDetails div.options div:hover div.label {
    font-size: 2em;
}

div.gameDetails div.options div:hover div.icon {
    font-size: 4em;
}

@media only screen and (max-width : 440px) {
    div.menu div.title, div.gameDetails div.title {
        font-size : 1.5em;
    }
    div.menu div.options div {
        font-size : 1.5em;
    }
}

@media only screen and (max-width : 500px) {
    div.board {
        width : 75%;
        height : 75vw;
    }
}